.portrait {
    display: block;
    max-width: 300px;
    width:100%;
    margin: 0 auto;
}
.gamePicture {
    display: block;
    width: 100%;
    margin: 0 auto 16px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size:contain;
}